<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: About Me page -->
<main >
    <%- include partials/content.ejs %>
    <div class="container2">    
        <br><br><br><br><br><br><h1 class="fw-bold" id="lgreen"> About Me</h1><br><br><br>
        <img src="/images/sspic.jpg" alt="myPicture" class="rounded float-start" width="20%" hspace="30">
        <h3 id="introduce">Hi, I'm Sohyeon Song. I am from South Korea and now in Health Informatics Technology at Centennial College.
            I'm 25 years old, and I decidecd to study in Canada after graduating university in Korea. 
            I have baechelor of Health Administration. It is the biggest reason that i choose Health Informatics Technology. 
             I enjoy walking, watching movies and series. <br><br><br>
           My goal is to find job that i can make good use of my major and do to utilize my abilities well. 
        </h3><br><br><br><br>
        
        <!--Download Resume-->
        <a href="/Assets/Resume_SohyeonSong.pdf" download="" class="btn btn-outline-info">Click to download my resume</a>
    </div>
    
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>