<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Contact Me page -->
  <main >
    <%- include partials/content.ejs %>
    <div class="container2">
        <!--My Personal Info-->
        <img src="/images/contact.png" alt="contact" width="100px"><br><br><br><br>
        <h3>Sohyeon Song</h3>
        <h3>Phone Number: (416) - 899 - 9923</h3>
        <h3>Email: <a href="mailto:ssong47@my.centennialcollege.ca">ssong47@my.centennialcollege.ca</a></h3>        
        <h3>Github: <a href="https://github.com/SohyeonSong/Comp229_sec002">https://github.com/SohyeonSong/Comp229_sec002</a></h3>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>