<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Services page -->
  <main >
    <%- include partials/content.ejs %>
    <div class="container2">
        <div style="float: left; padding-bottom: 100px;">
              <h1><br><img src="/Assets/images/software.png" alt="software"></h1><br><br>
              <h1 id="lgreen">Software Development</h1>
              <h4 id="green">Python, C, C#, Java</h4>
        </div>
        <div style="float: right; padding-bottom: 100px;">
              <h1><br><img src="/Assets/images/web.png" alt="web"></h1><br><br>
              <h1 id="lgreen">Web Development</h1>
              <h4 id="green">NodeJS, HTML, CSS, ExpressJS</h4>
        </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>